body {
    margin: 20px;
    color: whitesmoke;
    
    /*
    Challenge:
    Find a web safe font you like, and add it 
    to your card.
    */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.avatar {
    width: 150px;
}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: rgb(0,5,36);
    background: linear-gradient(90deg, rgba(0,5,36,0.7161239495798319) 12%, rgba(156,156,156,1) 26%,            rgba(0,10,36,1) 34%);
    color: whitesmoke;
    border-bottom: 10px solid #3d405b;
    border-radius: 10px;
    text-decoration:

}

.link {
    color: whitesmoke;
    background: rgb(0,5,36);
    width: 20px;
    display: inline

}
/*
Stretch goals:
Find other ways you can personalize 
the design of your business card, e.g.:
- change the border(s)
- add border radius
- shuffle the layout
- shadows        🤯
- hover effects  🤯🤯
- animations     🤯🤯🤯
*/

